<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daiwenhai.weixin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Appstart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainWeixin" />
        <activity android:name=".Login" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ShakeActivity" />
        <activity android:name=".Welcome" />
        <activity android:name=".InfoXiaohei" />
        <activity android:name=".Whatsnew" />
        <activity android:name=".Exit" />
        <activity android:name=".MainTopRightDialog" />
        <activity android:name=".ExitFromSettings"></activity>
    </application>

</manifest>